# Dependencies
node_modules/

# Python
__pycache__/
*.pyc
venv/

# Environment Variables
.env

# Build folders
dist/
build/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Uploads
uploads/

# AI Models
*.pkl

# Coverage
coverage/

# Temporary files
temp/
.cache/

# Vite
vite.svg

# MongoDB local
data/

# Python NLP Models
en_core_web_sm/

# Package locks (optional)
package-lock.json